.nav-bar{
    background-color: #F9EBC8;
    display: flex;
    position: relative;
}

.headerLink {
    display: inline-block;
    margin-right: 30px;
    color: #A0BCC2;
  }

.logout{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;

}

.username{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 150px;
}



