.searchList{
    background-color: #D9F8C4;
    height: 380px;
    margin: auto;
    width: 30%;
    border-radius: 8px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    list-style-type: none;
}

.listElement{
    margin-top: 12px;
}

.historyContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
